* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header {
    background-color: #1f2937;  
    color: #f9faf8;
    padding: 10px 100px;
    flex: auto;
    justify-content: space-between;
    display: flex;
    gap: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

