* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 0 100px;
}

.header-bar {
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}