* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

a {
    text-decoration: none;
}

.header {
    background-color: #1f2937;  
    color: #f9faf8;
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

